


.card_followers{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 350px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: transform 0.2s;
}

.card_followers:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__name {
  color: rgb(230, 230, 236);
  word-break: break-all;
}

.followers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  justify-content: center;
}

.heading {
  padding: 20px 50px 15px;
}

.heading p {
  padding-top: 10px;
}

.friends_List {
  padding: 0 40px;
}

.empty-message {
  color: #999;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

